<!DOCTYPE html>
<html lang="en" ng-app="pincodeApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search Pincode</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/static/app.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted">Pincode Directory</h3>
    </div>
      <div ng-controller="searchPincodeCtrl">
        
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchTerm" placeholder="pincode, state, region ...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getPincodes()">Go!</button>
          </span>
        </div>
        
        <div class="page-header" ng-hide="numberOfResults==null">
          <h3>Output <small ng-hide="loader.loading">[[numberOfShownData]] showing out of [[numberOfResults]]!</small>
          </h3>
          <div class="alert alert-info" role="alert" ng-show='showPaginationAlert'> 
            <strong>Heads up!</strong> Pagination work is in progress.. 
          </div>
        </div>
        <div class="table-responsive" ng-hide="pincodes.length==0||loader.loading">
          <table class="table table-hover">
          <thead>
            <tr>
              <th>Office Name</th>
              <th>Pincode</th>
              <th>Division Name</th>
              <th>Region Name</th>
              <th>Circle Name</th>
              <th>District Name</th>
              <th>State Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pincode in pincodes">
              <td>[[pincode.office_name]]</td>
              <td>[[pincode.pincode]]</td>
              <td>[[pincode.division_name]]</td>
              <td>[[pincode.region_name]]</td>
              <td>[[pincode.circle_name]]</td>
              <td>[[pincode.district_name]]</td>
              <td>[[pincode.state_name]]</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
  </div>
  </body>
</html>